# VSCode
.vscode/

# JetBrains IDEs (e.g., PyCharm and GoLand)
.idea/

# gobin directory used for tests
gobin

# MacOS system files
*.DS_Store
.dccache

# junit test results
*.junit.xml

# go mock files
master/internal/mocks

# go workspace sum file
go.work.sum

# Singularity images
*.sif

# EE license key and public key
license.txt
public.txt

# air
tmp/
temp/
design.md
*_test.go
.air.toml
logs/
